{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About VAmuze</title>
    <!-- Linking the CSS file -->
    <link href="/media/assets/css/aboutstyle.css" rel="stylesheet">
    <!-- Linking Google Fonts for Poppins font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="logo-link">
            <img src="/media/assets/img/logo.png" alt="Logo" class="logo">
        </a>
        <h1>About VAmuze</h1>
        <div class="line"></div>
    </header>
    <main class="main">
        <!-- Essay Part -->
        <div class="essay">
            <h2 style="margin-top: 5%;">Welcome to VAmuze: Where Fun Knows No Bounds</h2>
            <p>Experience the transformative power of fun and adventure at VAmuze. Nestled amidst the vibrant cityscape, VAmuze stands as a beacon of joy, inviting visitors to embark on unforgettable journeys of excitement and wonder. Step through our gates and be greeted by a kaleidoscope of sights and sounds that ignite the senses. From towering roller coasters to whimsical carousels, our park is a testament to the boundless possibilities of imagination. Whether you're a thrill-seeker craving adrenaline-pumping experiences or a parent looking to create cherished memories with your children, VAmuze offers something for everyone.</p>
            <p>Immerse yourself in themed areas, from futuristic landscapes to enchanted villages, each offering a unique experience that transports you to another time and place. Safety is paramount at VAmuze. Our dedicated staff ensures a secure environment, allowing you to focus on fun. Join our community, where cherished memories are made and laughter fills the air. Explore VAmuze and let your imagination soar. Every moment is an opportunity to create unforgettable memories and experience the joy of pure, unbridled fun. Join us at VAmuze, where adventure and imagination await. We can't wait to welcome you and share in the excitement of creating lasting memories.</p>
        </div>
        <div class="outer-container">
            <div class="container">
                <img style="margin-top: 05%;" class="container" src="/media/assets/img/thrillride3.avif" alt="Image Description">
                <div class="white-box">
                    <h1>Experience the magic of VAmuze!</h1>
                    <p>Step into a world of enchantment and thrill at VAmuze. Our diverse attractions promise excitement for all ages, making it the perfect destination for family fun.</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="container-2">
                <div class="text-info">
                    <h2 style="margin-top: 5%;">Thrilling Rides</h2>
                    <p>Explore our latest attractions and events. From thrilling rides to captivating shows, there's always something new to experience at VAmuze.</p>
                </div>
                <img style="margin-top: 5%;" class="container-2-image" src="/media/assets/img/thrillride4.avif" alt="image">
            </div>
            <div class="container-3">
                <div class="slanted-layer"></div> <!-- Add this line -->
                <div class="info-box">
                    <div class="left-content">
                        <h2>Mission</h2>
                        <p>"To deliver unforgettable moments of joy and excitement by providing dynamic and immersive amusement park experiences. We aim to create cherished memories through thrilling rides, captivating shows, and exceptional service, ensuring a safe and welcoming environment for all." </p>
                    </div>
                    <div class="divider"></div>
                    <div class="right-content">
                        <h2>Vision</h2>
                        <p>"We envision leading global amusement park entertainment with innovative attractions, immersive experiences, and unmatched guest satisfaction. Through ongoing innovation and community engagement, we inspire joy worldwide, remaining a beacon of excitement for generations." </p>
                    </div>
                </div>
                <img class="container-3-image" src="/media/assets/img/thrillride5.avif" alt="image">
            </div>
            <div class="links">
                <ul>
                    <li><a href="https://www.instagram.com/bitchstien">Instagram<i class="fab fa-instagram"></i></a></li>
                    <li><a href="mailto:pavannagesh681@gmail.com">Email us<i class="fas fa-envelope"></i></a></li>
                    <li><a href="tel:+91 9663357603">Contact<i class="fas fa-phone"></i></a></li>
                    <!-- Add more links/icons as needed -->
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
