{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Regna Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/media/assets/img/favicon.png" rel="icon">
  <link href="/media/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/media/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/media/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/media/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/media/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/media/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/media/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/media/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Regna
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!--HEADER SECTION-->
  <header style="background-color: rgb(83, 74, 74); padding: 10px 20px; color: white;">
    <a href="index.html"><img src="/media/assets/img/logo.png" alt="Your Logo" style="width: 150px; height: auto;"></a>
</header>
<!--END HEADER SECTION-->

<!-- ======= Services Section ======= -->
<section id="id">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3 class="section-title" style="text-decoration: underline;">Services</h3>
      <p class="section-description" style="color: black;">Welcome to the Service Section! At V-Amuse, we're dedicated to providing you with an exceptional experience from the moment you step through our gates. 
        As you explore this section, you'll uncover a treasure trove of services meticulously crafted to exceed your expectations and ensure your visit is nothing short of extraordinary.
        Our commitment to excellence shines through in every aspect of our offerings, as we strive to create lasting memories and moments of pure joy for our guests.
        From clean and well-maintained facilities to friendly and attentive staff members ready to assist you at a moment's notice, we've thought of everything to make your visit as seamless and enjoyable as possible.
        So come on, dive into the details below, and discover the myriad ways we're dedicated to enhancing your experience and making your visit to V-Amuse truly magical. Your adventure awaits!
        </p>
        
    </div>
    <!-- Add service content here -->
    <div style="display: flex; align-items: flex-start; justify-content: space-between;">
      <div style="text-align: left; color: black; margin-right: 20px;">
          <h4 style="font-weight: bold; text-decoration: underline;"><span style="color: black;"></span>Easy Online Booking</h4>
          <div style="background-color: rgba(190, 171, 171, 0.5); padding: 20px; border-radius: 10px;">
              <div style="text-align: justify;">
                  <div style="background-color: rgb(83, 74, 74); padding: 20px; border-radius: 10px;">
                      <p style="color: rgb(233, 225, 225);  "onmouseover="this.parentNode.style.transform = 'translateX(-3px) translateY(-3px)'" onmouseout="this.parentNode.style.transform = 'translateX(0) translateY(0)'">Experience the ease and simplicity of our online booking platform, designed to streamline your ticket purchasing process.
                          Whether you're planning your visit from the comfort of your home or making last-minute arrangements on the go,
                          our user-friendly interface ensures a seamless booking experience at your fingertips.
                          Navigate effortlessly through our intuitive booking process, where you can select your desired attractions, 
                          choose preferred dates and times, and securely complete your transaction in just a few clicks. Our platform offers a range of payment options, 
                          including credit card and online banking, providing you with flexibility and peace of mind.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div>
          <img src="/media/assets/img/book.jpg" alt="Booking" style="width: 400px; height: 300px; border: 2px solid black; transition: transform 0.3s; border-radius: 10px;">
          <style>
              img:hover {
                  transform: translateX(-3px) translateY(-3px);
              }
          </style>
      </div>
  </div>
  
  <!-- Add space between sections -->
  <div style="margin-top: 50px;"></div>

<div style="display: flex; align-items: flex-start; justify-content: space-between;">
    <div>
        <img src="/media/assets/img/confir.jpg" alt="online" style="width: 400px; height: 300px; border: 2px solid black; margin-right: 20px; border-radius: 10px;">
    </div>
    <div style="text-align: right; color: black;">
        <h4 style="font-weight: bold; text-decoration: underline;"><span style="color: black;"></span>Instant Confirmation</h4>
        <div style="text-align: justify;">
            <div style="background-color: rgba(190, 171, 171, 0.5); padding: 20px; border-radius: 10px;">
                <div style="background-color: rgb(83, 74, 74); padding: 20px; border-radius: 10px;">
                    <p style="color: rgb(233, 225, 225); font-weight:bold normal;  "onmouseover="this.parentNode.style.transform = 'translateX(-3px) translateY(-3px)'" onmouseout="this.parentNode.style.transform = 'translateX(0) translateY(0)'">Instant confirmation of ticket bookings via email or SMS offers users unparalleled convenience and peace of mind. 
                        By receiving immediate confirmation of their reservations, users can confidently proceed with their plans, knowing that their tickets are secured as soon as the payment is processed.
                        This eliminates any uncertainty or ambiguity about the status of their booking and allows them to bypass the hassle of waiting in line or dealing with physical tickets.
                        Additionally, instant confirmation provides users with flexibility to manage their bookings effortlessly, whether it's rescheduling or canceling their reservations.
                        The personalized nature of confirmation messages further enhances the user experience, offering clarity and transparency regarding the details of their booking.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add space between sections -->
<div style="margin-top: 50px;"></div>

<div style="display: flex; align-items: flex-start; justify-content: space-between;">
    <div style="text-align: left; color: black; margin-right: 20px;"> <!-- Added margin-right to create space between image and content -->
        <h4 style="font-weight: bold; text-decoration: underline;"><span style="color: black;"></span>Secure Transactions</h4>
        <div style="text-align: justify;">
            <div style="background-color: rgba(190, 171, 171, 0.5); padding: 20px; border-radius: 10px;">
                <div style="background-color: rgb(83, 74, 74); padding: 20px; border-radius: 10px;">
                    <p style="color: rgb(233, 225, 225); font-weight:bold normal; "onmouseover="this.parentNode.style.transform = 'translateX(-3px) translateY(-3px)'" onmouseout="this.parentNode.style.transform = 'translateX(0) translateY(0)'">Ensuring the security of users' personal and payment information is paramount when booking tickets through our website.
                        We employ robust encryption technologies and stringent security measures to safeguard users' data and facilitate safe transactions.
                        Our website utilizes industry-standard encryption protocols, such as SSL (Secure Sockets Layer), to encrypt sensitive information transmitted between users' devices and our servers.
                        Additionally, we implement strict access controls and regularly update our security infrastructure to mitigate potential risks and vulnerabilities. Rest assured, your personal and payment information is treated with the utmost confidentiality and protected against unauthorized access or misuse.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="/media/assets/img/secure.jpg" alt="Booking" style="width: 400px; height: 300px; border: 2px solid black; border-radius: 10px;">
</div>

<!-- Add space between sections -->
<div style="margin-top: 50px;"></div>

<div style="display: flex; align-items: flex-start; justify-content: space-between;">
    <img src="/media/assets/img/support.jpg" alt="online" style="width: 400px; height: 300px; border: 2px solid black; margin-right: 20px; border-radius: 10px;"> <!-- Added margin-right to create space between image and content -->
    <div style="text-align: right; color: black;">
        <h4 style="font-weight: bold; text-decoration: underline;"><span style="color: black;"></span>24/7 Customer Support</h4>
        <div style="text-align: justify;">
            <div style="background-color: rgba(190, 171, 171, 0.5); padding: 20px; border-radius: 10px;">
                <div style="background-color: rgb(83, 74, 74); padding: 20px; border-radius: 10px;">
                    <p style="color: rgb(233, 225, 225); font-weight:bold normal; "onmouseover="this.parentNode.style.transform = 'translateX(-3px) translateY(-3px)'" onmouseout="this.parentNode.style.transform = 'translateX(0) translateY(0)'">Our commitment to exceptional customer service extends beyond the booking process. 
                        We understand that users may have inquiries, encounter technical issues, or require assistance with various concerns.
                        That's why we offer a comprehensive range of customer support services to address users' needs promptly and effectively.
                        Whether you have questions about booking procedures, encounter difficulties navigating our platform, or need assistance with any aspect of your experience, our dedicated support team is here to help.
                        For urgent matters or direct assistance, users can also contact our customer support team via phone support. Our support services are available round-the-clock, ensuring that users receive assistance whenever they need it, regardless of the time zone or location.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add space between sections -->
<div style="margin-top: 50px;"></div>

<div style="display: flex; align-items: flex-start; justify-content: space-between;">
    <div style="text-align: left; color: black;">
        <h4 style="font-weight: bold; text-decoration: underline;"><span style="color: black;"></span>Real-Time Availability</h4>
        <div style="text-align: justify;">
          <div style="background-color: rgba(190, 171, 171, 0.5); padding: 20px; border-radius: 10px; transition: transform 0.3s;">
              <div style="background-color: rgb(83, 74, 74); padding: 20px; border-radius: 10px;">
                  <p style="color: rgb(233, 225, 225); font-weight:bold normal;" onmouseover="this.parentNode.style.transform = 'translateX(-3px) translateY(-3px)'" onmouseout="this.parentNode.style.transform = 'translateX(0) translateY(0)'">Assuring users of real-time availability and pricing for tickets to the amusement park enhances their confidence and streamlines their decision-making process. 
                      By offering access to up-to-date information on ticket availability and pricing, users can conveniently plan their visit based on their preferred dates, times, and ticket types.
                      Users can easily check real-time availability and pricing by visiting our website or mobile app.
                      Our intuitive interface allows users to view available dates, times, and ticket types with just a few clicks. 
                      With the ability to check real-time availability and pricing, users can make informed decisions and confidently proceed with their ticket purchase.
                  </p>
              </div>
          </div>
      </div>
      
    </div>
    <img src="/media/assets/img/realtime.jpg" alt="Booking" style="width: 400px; height: 300px; border: 2px solid black; margin-left: 20px; border-radius: 10px;">
    <!-- Added margin-left to create space between image and content -->
</div>

    <!-- Add your picture here -->
  </div>

  <!--FOOTER SECTION-->
  <footer style="background-color: rgb(83, 74, 74); padding: 10px 20px; color: white; text-align: center;">
    <p><a href="https://www.instagram.com/saakshi__pawar/" style="color: white;">instagram</a></p>
    <p>Contact us: +91-8088945045</p>
</footer>

  <!--FOOTER SECTION-->
  
</section><!-- End Services Section -->

<!-- Vendor JS Files -->
<script src="/media/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/media/assets/vendor/aos/aos.js"></script>
<script src="/media/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/media/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/media/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/media/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/media/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/media/assets/js/main.js"></script>
</body>
</html>